*{
    box-sizing: border-box;
}
#waves-img{
    position: absolute;
    bottom: 0;
    left: 0;  

}
body{
    background-color: #ecf0f1;
}
.enca{
overflow: hidden;
width: 100%;
margin-bottom: 20px;
top: 0;
left: 0;
z-index: 100;
position: fixed;
}
.wrapper{
    width: 90%;
    max-width: 1180px;
    margin: auto;
    overflow: hidden;
}
.logo{
    float: left;
    font-size: 50px;
}
nav{
float: right;




}
nav a{
    text-decoration: none;
    display: inline-block;
    color: #2c3e50;
    padding: 20px 10px;
    line-height: normal;
    font-size: 16px;
    -webkit-transition-delay: all 500ms ease;
    transition: all 500ms ease;

}
nav a:hover{
color: #111;
border-bottom: 5px solid #8e44ad;
}
@media only screen and (min-width:400px) and (max-width:767px){
    .enca{
        height: 70px;

    }
    .logo{
        font-size: 30px;
        margin-left: 130px;
        margin-top: -15px;
    
    }
    nav{
        margin-top: -40px;
     transform: translateX(-3%);
    }
}
